<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planche">
            <h2><span jhiTranslate="ecomgucvoileApp.planche.detail.title">Planche</span> {{planche.libelle}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomgucvoileApp.planche.localisation">Localisation</span></dt>
                <dd>
                    <span>{{planche.localisation}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.planche.etat">Etat</span></dt>
                <dd>
                    <span>{{planche.etat}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.planche.volume">Volume</span></dt>
                <dd>
                    <span>{{planche.volume}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.planche.niveaurequis">Niveau Requis</span></dt>
                <dd>
                    <span jhiTranslate="{{'ecomgucvoileApp.Niveau.' + planche.niveaurequis}}">{{planche.niveaurequis}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planche', planche.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
