.searchTerm {
  border-radius: 5px 0 0 5px;
  margin-left: 6%;
  margin-top: 1%;
}

.searchTerm:focus{
  color: black;
}

.mat-tab-label {
  min-width: 25px !important;
  max-width: 150px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  max-width: 80px !important;
  padding: 5px;
  background-color: transparent;
  color: #2a62bc;
  font-weight: 700;
}

.mat-ink-bar {
  background-color: #2a62bc;
}
