.searchTerm {
  border-radius: 5px 0 0 5px;
  margin-left: 6%;
  margin-top: 1%;
}

.searchTerm:focus {
  color: black;
}

/deep/ .mat-tab-label {
  min-width: 25px !important;
  max-width: 80px !important;
  margin-right: 10px !important;
  color: black;
  font-weight: 700;
}


.mat-tab-label.mat-tab-label-active {
  color: #2a62bc;
  font-weight: 700;
}

.mat-ink-bar {
  background-color: #2a62bc;
}
