<div class="alert alert-success" *ngIf="success" jhiTranslate="ecomgucvoileApp.reservation.reservationSuccess">
    <strong>Registration saved!</strong>reservationSuccess
</div>

<jhi-alert-error></jhi-alert-error>

<form name="form" role="form" (ngSubmit)="openConfirmationDialog()" [formGroup]="registerForm" *ngIf="!success">

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="2%">
        <div>
            <label class="form-control-label" jhiTranslate="ecomgucvoileApp.reservation.harnais" style="font-weight:bold">Harness</label>
            <input formControlName="harnais" type="checkbox">
        </div>
        <div>
            <label class="form-control-label" jhiTranslate="ecomgucvoileApp.reservation.combinaison" style="font-weight:bold">Wetsuit</label>
            <input formControlName="combinaison" type="checkbox">
        </div>
    </div>

    <div fxLayoutGap="2%">
        <mat-tab-group mat-align-tabs="left">
            <mat-tab label="Les Voiles">
                    <div class="alert alert-warning" *ngIf="voiles?.length === 0">
                        <span jhiTranslate="ecomgucvoileApp.voile.home.notFound">No voiles found</span>
                    </div>
                    <div>
                        <input #searchTextVoile type="text" (input)="searchVoile(searchTextVoile.value)"
                               placeholder="Recherche voile"/>
                    </div>
                    <div class="t+able-responsive" *ngIf="voiles?.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th><span jhiTranslate="ecomgucvoileApp.voile.libelle">Libelle</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let voile of voiles | orderBy: 'libelle' ;trackBy: trackIdVoile">
                                <td>
                                    <input [checked]="this.registerForm.get('voileId').value == voile.id"
                                           (click)="selectVoile(voile)" type="radio">
                                </td>
                                <td><a [routerLink]="['/voile', voile.id, 'view' ]">{{voile.libelle}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-tab>
            <mat-tab label="Les Planches">
                    <div class="alert alert-warning" *ngIf="planches?.length === 0">
                        <span jhiTranslate="ecomgucvoileApp.planche.home.notFound">No planches found</span>
                    </div>
                    <div>
                        <input #searchTextPlanche type="text" (input)="searchPlanche(searchTextPlanche.value)"
                               placeholder="Recherche planche"/>
                    </div>
                    <div class="table-responsive" *ngIf="planches?.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                            <tr>
                                <th style="width:5%;"></th>
                                <th><span jhiTranslate="ecomgucvoileApp.planche.libelle">Libelle</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let planche of planches | orderBy: 'libelle' ;trackBy: trackIdPlanche">
                                <td>
                                    <input [checked]="this.registerForm.get('plancheId').value == planche.id"
                                           (click)="selectPlanche(planche)" type="radio">
                                </td>
                                <td><a [routerLink]="['/planche', planche.id, 'view' ]">{{planche.libelle}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxLayoutAlign="end center">
        <button type="submit"
                [disabled]="registerForm.get('voileId').value == null && registerForm.get('plancheId').value == null"
                class="btn btn-primary" jhiTranslate="ecomgucvoileApp.reservation.reserve">
            Register
        </button>
    </div>
</form>

