<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userProfile">
            <h2><span jhiTranslate="eComGucApp.userProfile.detail.title">User Profile</span> {{userProfile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eComGucApp.userProfile.localisation">Localisation</span></dt>
                <dd>
                    <span>{{userProfile.localisation}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.dateEcheance">Date Echeance</span></dt>
                <dd>
                    <span>{{userProfile.dateEcheance}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{userProfile.dateNaissance}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.dateAdhesion">Date Adhesion</span></dt>
                <dd>
                    <span>{{userProfile.dateAdhesion}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.prefTaille">Pref Taille</span></dt>
                <dd>
                    <span jhiTranslate="{{'eComGucApp.Taille.' + userProfile.prefTaille}}">{{userProfile.prefTaille}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.adresse">Adresse</span></dt>
                <dd>
                    <span>{{userProfile.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.telephone">Telephone</span></dt>
                <dd>
                    <span>{{userProfile.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.typeAbonnement">Type Abonnement</span></dt>
                <dd>
                    <span jhiTranslate="{{'eComGucApp.TypeAbonnement.' + userProfile.typeAbonnement}}">{{userProfile.typeAbonnement}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.niveau">Niveau</span></dt>
                <dd>
                    <span jhiTranslate="{{'eComGucApp.Niveau.' + userProfile.niveau}}">{{userProfile.niveau}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.materielTechniqueAutorise">Materiel Technique Autorise</span></dt>
                <dd>
                    <span>{{userProfile.materielTechniqueAutorise}}</span>
                </dd>
                <dt><span jhiTranslate="eComGucApp.userProfile.remarque">Remarque</span></dt>
                <dd>
                    <span>{{userProfile.remarque}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-profile', userProfile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
