<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomgucvoileApp.harnais.home.title">Harnais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-harnais" [routerLink]="['/harnais/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ecomgucvoileApp.harnais.home.createLabel">
            Create a new Harnais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="harnais?.length === 0">
        <span jhiTranslate="ecomgucvoileApp.harnais.home.notFound">No harnais found</span>
    </div>
    <div class="table-responsive" *ngIf="harnais?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.taille">Taille</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.etat">Etat</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.createdAt">Created At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.createdBy">Created By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.deletedAt">Deleted At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.deletedBy">Deleted By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.harnais.reservation">Reservation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let harnais of harnais ;trackBy: trackId">
                <td><a [routerLink]="['/harnais', harnais.id, 'view' ]">{{harnais.id}}</a></td>
                <td jhiTranslate="{{'ecomgucvoileApp.Taille.' + harnais.taille}}">{{harnais.taille}}</td>
                <td>{{harnais.etat}}</td>
                <td>{{harnais.createdAt}}</td>
                <td>{{harnais.createdBy}}</td>
                <td>{{harnais.updatedAt}}</td>
                <td>{{harnais.updatedBy}}</td>
                <td>{{harnais.deletedAt}}</td>
                <td>{{harnais.deletedBy}}</td>
                <td>
                    <div *ngIf="harnais.reservationId">
                        <a [routerLink]="['/reservation', harnais.reservationId , 'view' ]" >{{harnais.reservationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/harnais', harnais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/harnais', harnais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/harnais', { outlets: { popup: harnais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
