<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voile">
            <h2><span jhiTranslate="ecomgucvoileApp.voile.detail.title">Voile</span> {{voile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomgucvoileApp.voile.surface">Surface</span></dt>
                <dd>
                    <span>{{voile.surface}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.marque">Marque</span></dt>
                <dd>
                    <span>{{voile.marque}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.modele">Modele</span></dt>
                <dd>
                    <span>{{voile.modele}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.numero">Numero</span></dt>
                <dd>
                    <span>{{voile.numero}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.localisation">Localisation</span></dt>
                <dd>
                    <span>{{voile.localisation}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.etat">Etat</span></dt>
                <dd>
                    <span>{{voile.etat}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.libelle">Libelle</span></dt>
                <dd>
                    <span>{{voile.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.gree">Gree</span></dt>
                <dd>
                    <span>{{voile.gree}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.createdBy">Created By</span></dt>
                <dd>
                    <span>{{voile.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{voile.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.deletedBy">Deleted By</span></dt>
                <dd>
                    <span>{{voile.deletedBy}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.createdAt">Created At</span></dt>
                <dd>
                    <span>{{voile.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{voile.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{voile.deletedAt}}</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-2">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/voile', voile.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
