<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="voile">
            <h2><span jhiTranslate="ecomgucvoileApp.voile.detail.title">Voile</span> {{voile.libelle}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomgucvoileApp.voile.surface">Surface</span></dt>
                <dd>
                    <span>{{voile.surface}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.localisation">Localisation</span></dt>
                <dd>
                    <span>{{voile.localisation}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.etat">Etat</span></dt>
                <dd>
                    <span>{{voile.etat}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.gree">Gree</span></dt>
                <dd>
                    <span>{{voile.gree}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.voile.niveaurequis">Niveaurequis</span></dt>
                <dd>
                    <span jhiTranslate="{{'ecomgucvoileApp.Niveau.' + voile.niveaurequis}}">{{voile.niveaurequis}}</span>
                </dd>
            </dl>
        </div>
    </div>
    <!--div class="col-2">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/voile', voile.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div-->
</div>
