<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomgucvoileApp.combinaison.home.title">Combinaisons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-combinaison" [routerLink]="['/combinaison/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ecomgucvoileApp.combinaison.home.createLabel">
            Create a new Combinaison
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="combinaisons?.length === 0">
        <span jhiTranslate="ecomgucvoileApp.combinaison.home.notFound">No combinaisons found</span>
    </div>
    <div class="table-responsive" *ngIf="combinaisons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.taille">Taille</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.etat">Etat</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.createdAt">Created At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.createdBy">Created By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.deletedAt">Deleted At</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.deletedBy">Deleted By</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.combinaison.reservation">Reservation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let combinaison of combinaisons ;trackBy: trackId">
                <td><a [routerLink]="['/combinaison', combinaison.id, 'view' ]">{{combinaison.id}}</a></td>
                <td jhiTranslate="{{'ecomgucvoileApp.Taille.' + combinaison.taille}}">{{combinaison.taille}}</td>
                <td>{{combinaison.etat}}</td>
                <td>{{combinaison.createdAt}}</td>
                <td>{{combinaison.createdBy}}</td>
                <td>{{combinaison.updatedAt}}</td>
                <td>{{combinaison.updatedBy}}</td>
                <td>{{combinaison.deletedAt}}</td>
                <td>{{combinaison.deletedBy}}</td>
                <td>
                    <div *ngIf="combinaison.reservationId">
                        <a [routerLink]="['/reservation', combinaison.reservationId , 'view' ]" >{{combinaison.reservationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/combinaison', combinaison.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/combinaison', combinaison.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/combinaison', { outlets: { popup: combinaison.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
