<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecomgucvoileApp.userProfile.home.title">User Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-profile" [routerLink]="['/user-profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ecomgucvoileApp.userProfile.home.createLabel">
            Create a new User Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userProfiles?.length === 0">
        <span jhiTranslate="ecomgucvoileApp.userProfile.home.notFound">No userProfiles found</span>
    </div>
    <div class="table-responsive" *ngIf="userProfiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.dateEcheance">Date Echeance</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.dateNaissance">Date Naissance</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.dateAdhesion">Date Adhesion</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.adresse">Adresse</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.telephone">Telephone</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.typeAbonnement">Type Abonnement</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.niveau">Niveau</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.materielTechniqueAutorise">Materiel Technique Autorise</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.remarque">Remarque</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.tailleHarnais">Taille Harnais</span></th>
            <th><span jhiTranslate="ecomgucvoileApp.userProfile.tailleCombinaison">Taille Combinaison</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userProfile of userProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/user-profile', userProfile.id, 'view' ]">{{userProfile.id}}</a></td>
                <td>{{userProfile.dateEcheance | date:'medium'}}</td>
                <td>{{userProfile.dateNaissance | date:'medium'}}</td>
                <td>{{userProfile.dateAdhesion | date:'medium'}}</td>
                <td>{{userProfile.adresse}}</td>
                <td>{{userProfile.telephone}}</td>
                <td jhiTranslate="{{'ecomgucvoileApp.TypeAbonnement.' + userProfile.typeAbonnement}}">{{userProfile.typeAbonnement}}</td>
                <td jhiTranslate="{{'ecomgucvoileApp.Niveau.' + userProfile.niveau}}">{{userProfile.niveau}}</td>
                <td>{{userProfile.materielTechniqueAutorise}}</td>
                <td>{{userProfile.remarque}}</td>
                <td jhiTranslate="{{'ecomgucvoileApp.Taille.' + userProfile.tailleHarnais}}">{{userProfile.tailleHarnais}}</td>
                <td jhiTranslate="{{'ecomgucvoileApp.Taille.' + userProfile.tailleCombinaison}}">{{userProfile.tailleCombinaison}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-profile', userProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-profile', userProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-profile', { outlets: { popup: userProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
