
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 jhiTranslate="register.title">Registration</h1>
        <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.successactivate">
            <strong>Registration saved!</strong>
        </div>

        <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
            <strong>Email is already in use!</strong> Please choose another one.
        </div>
        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </div>
        <div class="alert alert-danger" *ngIf="errorInvalidAuthority" jhiTranslate="global.messages.error.invalidAuthority">
            The password and its confirmation do not match!
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="form-group">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="global.form.role.label">Roles</label>
                    <select class="form-control" id="role" name="role" formControlName="authoritie">
                        <option *ngFor="let r of roles" [value]="r.value">{{r.label}}</option>
                    </select>
                </div>
                <label class="form-control-label" for="login" jhiTranslate="global.form.username.label">Username</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                        [formControl]="this.registerForm.get('user').get('login')">
                <div *ngIf="registerForm.get('user').get('login').invalid && (registerForm.get('user').get('login').dirty || registerForm.get('user').get('login').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required" jhiTranslate="register.messages.validate.login.required">
                        Your username is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('login').errors.minlength"
                           jhiTranslate="register.messages.validate.login.minlength">
                        Your username is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('login').errors.maxlength"
                           jhiTranslate="register.messages.validate.login.maxlength">
                        Your username cannot be longer than 50 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('login').errors.pattern"
                           jhiTranslate="register.messages.validate.login.pattern">
                        Your username can only contain letters and digits.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.lastname.label">LastName</label>
                <input type="text" id="lastName" name="lastName"  class="form-control" [formControl]="this.registerForm.get('user').get('lastname')">
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.firstname.label">FirstName</label>
                <input type="text" id="firstName" name="firstName"  class="form-control" [formControl]="this.registerForm.get('user').get('firstname')">
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.address.label">Address</label>
                <input type="text" id="adresse" name="adresse"  class="form-control" formControlName="adresse">
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.birthday.label">Birth date</label>
                <input type="date" id="start" name="trip-start"
                       value="2000-00-00" formControlName="dateNaissance" class="form-control">
            </div>
            <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [formControl]="this.registerForm.get('user').get('email')">
                <div *ngIf="registerForm.get('user').get('email').invalid && (registerForm.get('user').get('email').dirty || registerForm.get('user').get('email').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('email').errors.required"
                           jhiTranslate="global.messages.validate.email.required">
                        Your email is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('email').errors.invalid"
                           jhiTranslate="global.messages.validate.email.invalid">
                        Your email is invalid.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('email').errors.minlength"
                           jhiTranslate="global.messages.validate.email.minlength">
                        Your email is required to be at least 5 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('user').get('email').errors.maxlength"
                           jhiTranslate="global.messages.validate.email.maxlength">
                        Your email cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                       formControlName="password">
                <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                           jhiTranslate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                           jhiTranslate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                           jhiTranslate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters.
                    </small>
                </div>
                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                       formControlName="confirmPassword">
                <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                           jhiTranslate="global.messages.validate.confirmpassword.required">
                        Your confirmation password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                           jhiTranslate="global.messages.validate.confirmpassword.minlength">
                        Your confirmation password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                           jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                        Your confirmation password cannot be longer than 50 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.taillecombinaison.label">Wetsuit size</label>
                <select class="form-control" id="tailleCombinaison" name="tailleCombinaison" formControlName="tailleCombinaison" required>
                    <option jhiTranslate="global.form.taillecombinaison.placeholder" value="">Sélectionner une taille</option>
                    <option *ngFor="let t of tailles" [value]="t.value">{{t.label}}</option>
                </select>
                <div *ngIf="registerForm.get('tailleCombinaison').invalid && (registerForm.get('tailleCombinaison').dirty || registerForm.get('tailleCombinaison').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('tailleCombinaison').errors.required"
                           jhiTranslate="global.messages.validate.wetsuit.required">
                        Wetsuit size required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.tailleharnais.label">Harness size</label>
                <select class="form-control" id="tailleHarnais" name="tailleHarnais" formControlName="tailleHarnais" required>
                    <option jhiTranslate="global.form.tailleharnais.placeholder" value="">Sélectionner une taille</option>
                    <option *ngFor="let t of tailles" [value]="t.value">{{t.label}}</option>
                </select>
                <div *ngIf="registerForm.get('tailleHarnais').invalid && (registerForm.get('tailleHarnais').dirty || registerForm.get('tailleHarnais').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('tailleHarnais').errors.required"
                           jhiTranslate="global.messages.validate.harness.required">
                        Harness size required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.telephone.label">Phone number</label>
                <input type="tel" id="telephone" name="telephone" pattern="[0-9]{10}" class="form-control" placeholder= "{{'global.form.telephone.placeholder' | translate}}" formControlName="telephone" required>
                <div *ngIf="registerForm.get('telephone').invalid && (registerForm.get('telephone').dirty || registerForm.get('telephone').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('telephone').errors.required"
                           jhiTranslate="global.messages.validate.phone.required">
                        Phone number required.
                    </small>
                    <small class="form-text text-danger" *ngIf="registerForm.get('telephone').errors.invalid"
                           jhiTranslate="global.messages.validate.phone.invalid">
                        Phone number invalid.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.subscription.label">Subscription type</label>
                <select class="form-control" id="typeAbonnement" name="typeAbonnement" formControlName="typeAbonnement" required>
                    <option value="" jhiTranslate="global.form.subscription.placeholder">Select a subscription type</option>
                    <option *ngFor="let a of abonnements" [value]="a.value">{{a.label}}</option>
                </select>
                <div *ngIf="registerForm.get('typeAbonnement').invalid && (registerForm.get('typeAbonnement').dirty || registerForm.get('typeAbonnement').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('typeAbonnement').errors.required"
                           jhiTranslate="global.messages.validate.typeAbonnement.required">
                        Subscription type required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="global.form.level.label">Level</label>
                <select class="form-control" id="niveau" name="niveau" formControlName="niveau" required>
                    <option value="" jhiTranslate="global.form.level.placeholder">Select a level</option>
                    <option *ngFor="let n of niveaux" [value]="n.value">{{n.label}}</option>
                </select>
                <div *ngIf="registerForm.get('niveau').invalid && (registerForm.get('niveau').dirty || registerForm.get('niveau').touched)">
                    <small class="form-text text-danger" *ngIf="registerForm.get('niveau').errors.required"
                           jhiTranslate="global.messages.validate.level.required">
                        Level is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <input style="display: inline; width: auto; height: auto" type="checkbox" id="materielTechniqueAutorise" name="materielTechniqueAutorise"  class="form-control" formControlName="materielTechniqueAutorise">
                <label class="form-control-label" jhiTranslate="global.form.technicalMaterialAutorization.label">Technical material authorized</label>
            </div>
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
        </form>
    </div>
</div>
