<div class="row">
    <br/>
    <div class="alert alert-warning" *ngIf="(reservations | value)?.length === 0">
        <span jhiTranslate="ecomgucvoileApp.reservation.home.notFound">There is no reservation in progress.</span>
    </div>
        <div class="table-responsive" *ngIf="(reservations | value)?.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.dateReservation">Date Reservation</span></th>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.user">Utilisateur</span></th>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.voile">Voile</span></th>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.planche">Planche</span></th>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.combinaison">Combinaison</span></th>
                <th><span jhiTranslate="ecomgucvoileApp.reservation.harnais">Harnais</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reservation of (reservations | value) ;trackBy: trackDate " >
                        <td>{{reservation.dateReservation | date:'medium'}}</td>
                        <td><a *ngIf="reservation.userProfileId" [routerLink]="['/user-profile', reservation.userProfileId, 'view' ]">{{reservation.userProfileId}}</a></td>
                        <td><a *ngIf="reservation.voileId" [routerLink]="['/voile', reservation.voileId, 'view' ]">{{reservation.voileId}}</a></td>
                        <td><a *ngIf="reservation.plancheId" [routerLink]="['/planche', reservation.plancheId, 'view' ]">{{reservation.plancheId}}</a></td>
                        <td>{{reservation.combinaisonId}}</td>
                        <td>{{reservation.harnaisId}}</td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
