<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span jhiTranslate="ecomgucvoileApp.renduMateriel.home.title">Rendu Materiel</span></h2>
            <hr>
            <jhi-alert></jhi-alert>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.dateReservation">Date Reservation</span></dt>
                <dd>
                    <span>{{reservation.dateReservation}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.dateRendu">Date Rendu</span></dt>
                <dd>
                    <span>{{reservation.dateRendu}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.remarques">Remarques</span></dt>
                <dd>
                    <span>{{reservation.remarques}}</span>
                </dd>

            <button type="submit"
                    (click)="confirm()"
                    class="btn btn-info">
                    <span jhiTranslate="ecomgucvoileApp.renduMateriel.confirmation"> Back</span>
            </button>

            <script language="JavaScript" type="text/javascript">


                function checkbox()
                {
                checkboxdamage=document.maforme.getElementById("damage") ;
                if (checkboxdamage.checked)
                {
                document.descriptiondamage.Submit.disabled = false;
                }
                else
                {
                document.descriptiondamage.Submit.disabled = true;
                }
                }
            </script> 

            </dl>
            <div>
                <input type="checkbox" name="damage" id="damage"
                       unchecked>
                <label for="damage" jhiTranslate="ecomgucvoileApp.renduMateriel.damage" onchange="checkbox()">Le materiel rendu est endommagé.</label>
              </div>

            <br>
            <br>
            <br>

            <p><label for="descriptiondamage" jhiTranslate="ecomgucvoileApp.renduMateriel.descriptiondamagetext" >Description du dommage :</label></p>
            <p><textarea name="descriptiondamage" cols="40" rows="5" ></textarea>  </p>
            <p><label for="circonstancedamage" jhiTranslate="ecomgucvoileApp.renduMateriel.circonstancedamagetext">Circonstances du dommage :</label></p>
            <p><textarea name="circonstancedamage" cols="40" rows="5" ></textarea></p>

        </div>

        <div></div>
    </div>
</div>
