<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span jhiTranslate="ecomgucvoileApp.renduMateriel.home.title">Rendu Materiel</span></h2>
            <hr>
            <jhi-alert></jhi-alert>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.dateReservation">Date Reservation</span></mat-checkbox></dt>
                <dd>
                    <span>{{reservation.dateReservation}}</span>
                </dd>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.remarques">Remarques</span></dt>
                <dd>
                    <span>{{reservation.remarques}}</span>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.planche">Planche</span></dt>
                <dd>
                    <input type="checkbox" id="planche" name="planche">
                    <label for=planche>{{reservation.planche_id}}</label>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.voile">Voile</span></dt>
                <dd>
                    <input type="checkbox" id="voile" name="voile">
                    <label for=voile>{{reservation.voile_id}}</label>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.harnais">Harnais</span></dt>
                <dd>
                    <input type="checkbox" id="Harnai" name="Harnai">
                    <label for=Harnai>{{reservation.Harnais_id}}</label>
                </dd>
                <dt><span jhiTranslate="ecomgucvoileApp.reservation.combinaison">Combinaison</span></dt>
                <dd>
                    <input type="checkbox" id="Combinaison" name="Combinaison">
                    <label for=Combinaison>{{reservation.combinaison_id}}</label>
                </dd>
                <button type="button"
                    (click)="confirm()"
                    class="btn btn-info">
                    <span jhiTranslate="ecomgucvoileApp.renduMateriel.confirmation">Rendre le materiel séléctionné</span>
                </button>
                 </dl> 
        </div>
        <div></div>
    </div>
</div>
