<div>
    <span>{{'ecomgucvoileApp.statistique.home.description'|translate}}</span>

    <p><br>{{'ecomgucvoileApp.statistique.Thereis'|translate}} {{reservations.length}} {{'ecomgucvoileApp.statistique.reservations'|translate}}.</p>
    <p>{{'ecomgucvoileApp.statistique.Thereis'|translate}} {{reservationsInProgress.length}} {{'ecomgucvoileApp.statistique.reservations'|translate}} {{'ecomgucvoileApp.statistique.encours'|translate}}.</p>

    <p><br>{{'ecomgucvoileApp.statistique.combinaisonS'|translate}} {{reservationsCombiS.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.combinaisonS'|translate}} {{reservationsCombiM.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.combinaisonS'|translate}} {{reservationsCombiL.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.combinaisonS'|translate}} {{reservationsCombiXL.length}}</p>

    <p><br>{{'ecomgucvoileApp.statistique.harnaisS'|translate}} {{reservationsHarnaisS.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.harnaisM'|translate}} {{reservationsHarnaisM.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.harnaisL'|translate}} {{reservationsHarnaisL.length}}</p>
    <p>{{'ecomgucvoileApp.statistique.harnaisXL'|translate}} {{reservationsHarnaisXL.length}}</p>
</div>
